body {
  margin: 0;
  padding: 0;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  display: flex;
  margin: 0 auto;
  background-color: rgb(218, 218, 218);
  height:100vh;
}

.sideBarList{
  width: 25%;
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  color: rgb(112, 110, 110);
}

.fa-dropbox{
  color: rgba(24, 137, 212, 0.925);
  font-size: 50px;
  margin-left: 8px;
  margin-bottom: 50px;
}
 
.file__item{
  list-style: none;
  font-size: 15px;
  display: inline;
  
  
}
.grid,
.grid--expanded{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray; 
}

.fa-file-text-o{
  color: blue;
  font-weight: bold;
  margin-top: 5px;
}
button{
  background-color: blue;
  width: 40px;
  height: 30px;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
  
}

.fa-download{
 
  text-align: center;
}

.searcher{
  margin: 0 auto;
  border-radius: 20px; 
  margin-left: 10%; 
  margin-top: 15px;
  width:80%;
  height: 1.8%;
  
}

.Home{
  background-color: rgb(255, 249, 249);
  width: 50%;
}
.results{
  width: 25%;
}

.showDwld{
  display: flex;

  color: rgb(80, 78, 78);
  font-size: 15px;

}

/*Download Show*/

.downloads{
  margin-top: 5%;  
  margin-left: 33%;
}